body {
  background-color: whitesmoke;
}
.navbar {
  margin-bottom: 0px;
}

#bannerImage {
  padding-top: 75px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  text-align: center;
  color: #f8f8f8;
  background: url(../img/Laptop_Colorful_Keypad_Wallpaper.jpg);
  background-size: cover;
}

#bannerContent {
  position: relative;
  padding-top: 6%;
  padding-bottom: 6%;
  margin-top: 12%;
  margin-bottom: 12%;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 660px;
}

footer {
  background-color: #101010;
  color: #9d9d9d;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  bottom: 0;
}

html {
  min-height: 100%;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.center {
  text-align: center;
}

@media (min-width: 320px) {
  #autoResize {
    font-size: 12px;
  }
}
@media (min-width: 481px) {
  #autoResize {
    font-size: 16px;
  }
}
@media (min-width: 641px) {
  #autoResize {
    font-size: 18px;
  }
}
@media (min-width: 961px) {
  #autoResize {
    font-size: 20px;
  }
}
@media (min-width: 1000px) {
  #autoResize {
    font-size: 26px;
  }
}
.izbor {
  border: 2px solid black;
  text-align: center;
  width: 250px;
  float: left;
  margin: 1em;
}

.trans {
  transition: transform 0.2s;
}

.trans:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
}

h1 {
  margin-left: 440px;
}
table {
  border-collapse: collapse;
  width: 1000px;
  margin-top: 30px;
  margin-left: 30px;
}
table th {
  text-align: center;
}
table th,
td {
  padding: 5px;
  border: 1px solid black;
}
.insert {
  margin-top: 25px;
}
.forma {
  width: 1000px;
  margin-top: 30px;
  margin-left: 30px;
}
form label {
  width: 150px;
}
form input {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.submit {
  margin-left: 150px;
}

#reset{
  float: right;
  margin-right: 80px;
}